html {
	font-size: 18px;
}

body {
	font-family: Helvetica;
}

div {
	display: block;
}

header {
	background-color: black;
}

.header-content {
	display: flex;
	align-items: center;
	padding: 12px 0px 12px 0.5rem;
}
.header-content img {
	height: 1.5rem;
	padding-right: 1rem;
}

.header-content span {
	color: white;
	font-size: 1rem;
}

/*Main Body*/

.top-section {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	height: 25rem;
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.new-arrivals-info {
	background-color: black;
	color: white;
	padding: 2rem 3rem;
	position: relative;
	top: 9rem;
	width: 20rem;
}

.new-arrivals-info h2 {
	margin: 0.25rem 0;
	font-size: 2rem;
	font-weight: bold;
}

.new-arrivals-info h4 {
	font-size: 1rem;
	font-weright: bold;
}
